.container-contact {
    max-width: 500px;
    margin: 1rem auto;
    padding: 20px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  }
  
  .contact-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .contact-title h2 {
    font-size: 40px;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  
  }
  
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid #b9c234;
    border-left: 1px solid #b9c234;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  /* remove the focus */
    .contact-form input[type="text"]:focus,
    .contact-form input[type="email"]:focus,
    .contact-form textarea:focus {
      outline: none;
      border-bottom: 2px solid #32866d;
    }
  
  .contact-form textarea {
    resize: vertical;
  }
  
  .contact-form input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .contact-form button {
    width: 100%;
    padding: 10px;
    background-color: #b9c234;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #b9c266;
  }
  